* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.lesson__wrapper{
    margin-top: 300px;
    margin-left: 50px;

    &_container{
        background-color: #187DC2; //#F3F7FC
        width: 272px;
        height: 119px;
        border-radius: 16px;

        &_time{
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF; //#888888
            padding-left: 10px;
            padding-top: 15px;
            line-height: 15px;
        }

        &_title{
            font-weight: 700; //500
            font-size: 14px;
            line-height: 15px;
            color: #FFFFFF; //#000000
            padding-left: 10px;
            padding-top: 5px;
        }

        &_info{
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF; //#888888
            padding-left: 10px;
            padding-top: 5px;
            line-height: 15px;
        }
    }
}