* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.day__wrapper {
    width: 40px;
    margin: 0 3px;

    &_title{
        color: #888888;
        font-weight: 200;
        font-size: 20px;
        text-align: center;
    }

    &_title_active{
        color: #187DC2;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }


    &_date {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
    }

    &_date_active {
        font-weight: 500;
        color: #187DC2;
        font-size: 14px;
        text-align: center;
    }
}

.day__wrapper_active{
    border: 1px solid #187DC2;
    border-radius: 5px;


}