* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.day__wrapper {
    width: 40px;
    margin: 0 3px;

    &_title{
        color: #888888;
        font-weight: 200;
        font-size: 20px;
        text-align: center;
    }

    &_date {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
    }
}