* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.group__container {
  width: 340px;
  margin: 0 auto;

  &_text {
    font-size: 18px;
    font-weight: 400;
    padding-left: 8px;
  }

  &_del {
    height: 1px;
    width: 320px;
    margin: 0 auto;
    background: #B5B5B5;
  }
}

.group__wrapper {
  display: flex;
  flex-direction: row;
  padding: 14px 16px;
}