* {
    box-sizing: border-box;
    // padding: 0;
    // margin: 0;
  }

.bar__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 36px;
    padding-right: 36px;
    align-items: center;
    margin-top: -32px;

    &_search{
      width: 32px;
      height: 32px;
    }

    &_home{
      width: 32px;
      height: 32px;
    }

    &_settings{
      width: 32px;
      height: 32px;
    }
}

.bar__wrapper{
  // margin-top: 300px;
  width: 400px;
}

.bar__rectangle{
  width: 108px;
  height: 32px;
  background-color: #ffffff;
  // 1 - 38px, 2 - 146px, 3 - 254px
  margin-left: 254px;
  margin-top: -41px;
  border-radius: 16px;
}