* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  margin: 30px 31px;

  &__date {
    margin-bottom: 31px;

    &_full {
      color: #888888;
      font-weight: 400;
      font-size: 16px;
      margin-left: 2px;
    }

    &_weekday {
      color: #000000;
      font-weight: 700;
      font-size: 40px;
    }
  }

  &__calendar {
    margin-bottom: 31px;
  }

  &__schedule {

  }
}

.show {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.group {
  color: #187DC2;
  font-weight: 500;
  font-size: 16px;
}

.freeday_img {
  margin: 22px auto;
}