* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search__container {
  width: 340px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 16px;

  &_wrapper {
    display: flex;
    flex-direction: row;
    padding: 8px 10px;

    &_input {
      width: 285px;
      font-size: 18px;
      padding-left: 2px;

      &::placeholder {
        color: red;
      }
    }
  }
}